body {
    overflow-x:hidden;
}

.naziv-liga {
    font-size:xx-large;
}

.rezervisi {
    font-family:monospace;
}

.labeltext {
    text-align: center;
    width: inherit;
    color: black;
    white-space: nowrap;
}


.liga {
    border-radius: 30px;
    border: 1px solid;
    border-color: #565656;
    margin-bottom: 2rem;
    padding-top:1rem;
    padding-bottom:1rem;
    width:90%;
}

#lige {
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.naziv-div {
    background-color:#2a2a2a;
    color:white;
    border-radius:30px;
    padding-top:0.5rem;

}

.container2 {
    padding-bottom:1rem;
    text-align:center;
    justify-content:center;
}

.datum-vreme {
    color:black;
    white-space:nowrap;
    text-align:center;
}

a {
    color:black;
}

.datum-vreme-div {
    text-align:center;
    margin:auto 0 auto 1rem;
}

.btn {
    outline:none;
}

.utakmica {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 30px;
    white-space: normal;
}

.utakmice {
    justify-content: center;
    align-items: center;
    text-align:center;
}

i {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#dodaj-div {
    padding-left:45%;
    padding-right:45%;
    width:100%;
    height:3rem;
}

.dodaj {
    border: 1px solid;
    border-color: #565656;
    border-radius:20px;
    font-size:larger;
    background-color:white;
    padding:1rem;
    text-align:center;
}


.timovi {
    width:100%;
    min-width:400px;
    text-align:center;
    cursor:default;
}

.omiljena {
    text-align:right;
}

.home {
    width: 30%;
    text-align: left;
    color: black;
    white-space: nowrap;
}

.score {
    width: 10%;
    text-align: center;
    color: black;
    white-space: nowrap;
}

.away {
    width: 30%;
    text-align: right;
    color: black;
    white-space: nowrap;
}

footer {
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    padding-right:10%;
}

.cena {
    margin: auto 0 auto 1rem;
    color:black;
}

.tribina {
    margin: auto 1rem auto 2rem;
    color:black;
}